* {
  box-sizing: border-box;
}

html, body {
    overflow: auto;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}



@media (min-width: 1201px) {

  .mobile-description, .topnav, .divider, header{
    display: none;
  }
  #myVideo {
    min-width: 100%;
    min-height: 100%;
  
  }


  div.container video { 
  margin-left: -26%;
  margin-top: -19%; 
  }

  .content {
    position: fixed;
    top: 30%;
    left: 35%;
    color: white;
    padding: 20px;
    text-align: center;
    background: transparent;

  }

  #myBtn {
    width: 300px;
    font-size: 60px;
    padding: 10px;
    background: transparent;
    cursor: pointer;
    height: 130px;
    border: 1px solid white;
    color: white;

  }

  .pulse a:hover{ 
  animation: pulse 1s infinite;
  animation-timing-function: linear;   
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1);
  100% { transform: scale(1); }
  }
}

a{
  width: 300px;
  margin: auto;
  background: transparent
  padding: 20px;
  overflow: hidden;
  box-shadow: 0 0 25px #000;
  margin-top: 30px;
  border: 1px solid #fff;  
  text-align: center;
  display: block;
  color: white;
  text-decoration: none;
 
  font-size: 60px;
  padding: 20px;

}

.btn-container {
  display: none;
}


}

@media (max-width: 1200px) {

  .mobile-description {
    font-size: 28px;
    text-align: center;
  }
  #myVideo {
  bottom: 100px;
  width: 100%; 
  height: auto;
  margin-bottom: -5px;
 }

 .divider {
  height: 50px;
  background-color: black;
 }

 .content {
  background: linear-gradient(to bottom right, #0a0a58, #860118);
  color: #f1f1f1;
  width: 100%;
  height: 100vh;
  padding: 20px;
}

.pulse {
  display: none;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: transparent;
  position: absolute;
  height: 100%;
  z-index: 2;
  display: block;
  width: 100%;
  z-index: 2;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  font-size: 18px;
  position: relative;
  bottom: 25px;
}
}

/* Style the hamburger menu */
.topnav a.icon {
  background: transparent;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: transparent;
  color: white;
}

/* Style the active link (or home/logo) */
.active {
  background: transparent;

}

.fa {
  font-size: 25px !important;
}


.btn-container {
  position: absolute;
  left: 50%;
  margin: 0 0 100px -150px;
  text-align: center;
}

.btn{
    width: 300px;
    height: 50px;
    line-height: 50px; 
    background-color: #e91e7c96;
    border-radius: 8px;
    color: #fff;
    font-family: 'Indie Flower', cursive;
    font-size: 22px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-name: hover;
    animation-name: hover;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    &:before{
    pointer-events: none;
      position: absolute;
      z-index: -1;
      content: '';
      top: 100%;
      left: 5%;
      height: 10px;
      width: 90%;
      opacity: 0;
      background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: -webkit-transform, opacity;
      transition-property: transform, opacity;
      opacity: .4;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
      -webkit-animation-name: hover-shadow;
      animation-name: hover-shadow;
      -webkit-animation-duration: 1.5s;
      animation-duration: 1.5s;
      -webkit-animation-delay: .3s;
      animation-delay: .3s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
  }
    &:hover{
        background-color: #e16e50;
    }
}

@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@-webkit-keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }

  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
}

@keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }

  50% {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
}

@-webkit-keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}


}







