/** CSS Formatting Document */

body {
	color: black;
	background-color:white;
	font-size: 1em;
	font-family: Airal, Helvetica, sans-serif;
	border: thick solid #003300;
	border-width: 5px;
	
}

a:link {
	color: #000099;
}

a:visited {
	color: #996699;

}

a:hover {
	color: #CC3300;
}


/* - - - - - Header- - - - */

header {
	height: 100px;
	background-color: #003300;
	color: white;
	padding: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;

}

header h1 {
	font-size: 2em;
	font-weight: bold;
}

header h2 {
	font-size: 1.6em;
	font-style: italic;
}

/* - - - - - NAV- - - - */

nav {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	padding: 10px 20px;

}
nav ul {
	display: block;
	margin-top: 0;
	font-size: 1.2em;
	padding: .2em .4em;

}

nav ul li {
	display: inline;
	padding: .2em .4em;
	border-right: solid thin #003300;
}

#subnav {
	font-size: 1em;
	padding: .3em .5em .3em .5em;
	margin-top: -25px;
}

.endLink {
	border: 0;
}

a.activepage {
	text-decoration: none;
	color: #CC3300;
}

/* - - - - - Content - - - - */
#content {
	padding: .2em 2em; margin-top: -25px;
}

#content h1 h2 h3 {
	font-family: Arial, Helvetica, sans-serif;
}
#content h1 {
	font-size: 1.5em;
}
#content h2 {
	font-size: 1.3em;
}
 #content h3 {
 	font-size: 1.1em;
 }

 #content ul {
 	padding-bottom: .8em;
 	list-style: square;
 }

#plantname {
	color: #006600;
}

#appearance h2, #habitat h2, #growthhabit h2, #naturalhistory h2 {
	color: #008800;
	font-style: italic;
}

/* - - - - - Footer - - - - */

footer {
	background-color: #003300;
	padding: 10px;
	font-weight: bold;
	color: white;

}









