
 html {
   margin: 0px;
   height: 100%;
}

 body {
 	margin: 0;
    height: auto;
 	background-size: auto;
    background-image : linear-gradient(to bottom right, #ffffff, #4caf50f2);
 }

#content{
    text-align: center;
    margin-top: 13%;
    margin-left: 15%;
    background-color:#009688;
    padding: 5px;
    width: 64%;
 }

 footer {
    margin-bottom: 5%;
 }

 p {
 	color: #ffffff;
 	font-size: large;
 }

ul { 
	 list-style: none;
 }


 h2 {
 font-size: x-large;
 }

 h3 {
 	font-size: larger;
 	font-weight: bold;
 	color: lavenderblush;
 }

#myVideo {
    position: absolute;
    z-index: -1000; 
    overflow: hidden;
    height: 40%;
}

header  {
    color: white;
    border-style: solid;
    border-width: thick;
    border-color: white;
    width: 20%;
    text-align: center;
    font-size: xx-large;
    margin-left:38%;
    margin-top:7%;
    
}

 .selector, .declaration, .property, .value, .rule {
 font-family:"Courier New", Courier, monospace;
 }

/* ------- NAV BAR SECTION ------ */ 
.navbar {
  background-color: linear-gradient(to bottom right, #ffffff, #4caf50f2);
  margin-bottom: px;
}
.navbar .navbar-brand {
  color: #000000;
}

.navbar ul .dropdown-menu {
    background-color:#e91e63c9;

}
.navbar ul li .dropdown-toggle:hover {
    background-color: #4caf5030;
    color: #9c27b0;
}

.navbar li a:hover {
    background-color: #4caf5030 !important;
}

.navbar ul .dropdown-menu a {
    color: white;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #369002;
}
.navbar .navbar-text {
  color: #000000;
}
.navbar .navbar-text a {
  color: #9c27b0;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #369002; 
}
.navbar .navbar-nav .nav-link {
  color: #9c27b0;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #9c27b0;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #369002;
  background-color: #b6d9ae;
}
.navbar .navbar-toggle {
  border-color: #b6d9ae;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #b6d9ae;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #000000;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #000000;
}
.navbar .navbar-link {
  color: #000000;
}
.navbar .navbar-link:hover {
  color: #9c27b0;
}

.dropdown {
    margin-top: 15px;
}



/*@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #000000;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #369002;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #369002;
    background-color: #b6d9ae;
  }
}*/

/*@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #000000;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #369002;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #369002;
    background-color: #b6d9ae;
  }
}
*/
/*@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #000000;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #369002;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #369002;
    background-color: #b6d9ae;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #000000;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #369002;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #369002;
    background-color: #b6d9ae;
  }
}*/

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #000000;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #369002;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #369002;
  background-color: #b6d9ae;
}


